<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    // Whether or not to enable a configuration cache.
    // If enabled, the merged configuration will be cached and used in
    // subsequent requests.
    //'config_cache_enabled' => false,
    // The key used to create the configuration cache file name.
    //'config_cache_key' => 'module_config_cache',
    // The path in which to cache merged configuration.
    //'cache_dir' =>  './data/cache',
    // ...
	'mandrill' => array(
		'api_key' => 'SrSfJZOUdAmZEpoXMGz4gg'
	),
	'pubnub' => array(
		'subscribe_key' => 'sub-677ba457-b147-11e1-b52f-a7abc5428a24',
		'publish_key' => 'pub-a6826806-49f8-4f85-9530-d0d38965a12d',
		'secret_key' => 'sec-NjdkOWVmOTMtMjIyZS00MGQ0LThkMjktYWNhZTY3MDM1MzAx'
	),
);
